<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title>Registration</title>
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
            <h2>Welcome to Registration of Find me!</h2>
            </br>

                <form id = "registration-form">
                    <label>FirstName:  </label>
                    <input type="text"  name="firstName" required maxlength="15"/>
                    <br/>
                    <label>LastName:  </label>
                    <input type="text"  name="lastName" required maxlength="15"/>
                    <br/>
                    <label>Phone:  </label>
                    <input type="text"  name="phone" title = "формат xxx-xxx-xx-xx" required pattern="\d{3}-\d{3}-\d{2}-\d{2}"/>
                    <br/>
                    <label>Email:  </label>
                    <input type="email"  name="email" required maxlength="25"/>
                    <br/>
                    <label>Country:  </label>
                    <input type="text"  name="country" maxlength="15"/>
                    <br/>
                    <label>City:  </label>
                    <input type="text"  name="city" maxlength="15"/>
                    <br/>
                    <label>Age:  </label>
                    <input type="number"  name="age" min="1" max="100"/>
                    <br/>
                    <label >Relationship Status:  </label>
                    <input type="text"  name="relationshipStatus" maxlength="20"/>
                    <br/>
                    <label>Religion: </label>
                    <input type="text"  name="religion" maxlength="20"/>
                    <br/>
                    <label>School: </label>
                    <input type="text"  name="school"  maxlength="20"/>
                    <br/>
                    <label>University: </label>
                    <input type="text"  name="university" maxlength="20"/>
                    <br/>
                    <input type= "submit" value="Отправить"/>
                </form>
            <br/>

            <script>
                $('#registration-form').submit(function(e){
                    $.ajax({
                        type: "POST",
                        url: "/register-user",
                        async: false,
                        data: $(this).serialize(),
                                success: function(result) {
                                    alert(result);
                                },
                                error: function error(xhr) {
                                    alert(xhr.responseText);
                                }
                    });
                });

            </script>
    </body>
</html>
